@font-face {
    font-family: 'PermMark';
    src: url('../fonts/PermanentMarker-Regular.ttf');
}

@font-face {
    font-family: 'Caveat';
    src: url('../fonts/Caveat-Regular.ttf');
}

body {
    background-image: url('../images/pattern.jpg');
    font-family: 'PermMark';
}

h1 {
    background-color: #f0ffff;
    border: 1px solid #639;
    border-radius: 16px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

table {
    background-color: snow;
    border: 1px solid #639;
    border-radius: 16px;
    font-family: 'Caveat';
    font-size: 1.5em;
}

table img {
    display: block;
    border-radius: 16px;
    cursor: pointer;
}

table img.buy-button {
    width: 110px;
    vertical-align: middle;
    position: absolute;
    top: 70px;
}

table th:hover {
    text-decoration: underline;
}

table td img:hover {
    border: 3px solid teal;
    width: 294px;
    height: 344px;
}

table td {
    vertical-align: top;
}

table audio {
    display: none;
}

div#cart {
    margin: 50px;
}

div#cart table {
    margin: auto;
    border: 1px dashed #ffa500;
    width: 500px;
    border-collapse: collapse;
}

div#cart table th {
    font-size: 20px;
}


div#cart table tr {
    background-color: #f0f8ff;
    border-bottom: 1px dotted #b47500;
    height: 40px;
}

div#cart table td {
    padding: 10px 20px;
}

div#cart table tr:nth-child(2n) {
    background-color: #c6e4ff;
}